body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }

  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }

  /* Header Styles */
.header {
    background-color: #343a40;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }

  .header h1 {
    margin-bottom: 0;
  }